# ---- visual studio ----
**/*.sln
**/*.vcxproj
**/*.vcxproj.filters
**/*.vcxproj.user
**/debug/
**/.vs/


# ---- C# ----
**/bin/
**/obj/
**/Properties/
**/*.csproj
**/App.config

# -unity-
**/Unity/

# exception
**/*.zip